.css-input { border-style:solid; padding:4px; font-size:16px; border-radius:12px; border-width:5px; border-color:#1298ff; background-color:#ffffff; font-weight:bold;  }
     .css-input:focus { outline:none; }

.mybtn {
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  text-shadow: 2px 1px 3px #d6d6d6;
  font-family: Courier New;
  color: #ffffff;
  font-size: 15px;
  background: #3498db;
  padding: 5px 10px 5px 10px;
  border: solid #6ca9cf 2px;
  text-decoration: none;
}

.mybtn:hover {
  background: #389bd9;
  background-image: -webkit-linear-gradient(top, #389bd9, #2895de);
  background-image: -moz-linear-gradient(top, #389bd9, #2895de);
  background-image: -ms-linear-gradient(top, #389bd9, #2895de);
  background-image: -o-linear-gradient(top, #389bd9, #2895de);
  background-image: linear-gradient(to bottom, #389bd9, #2895de);
  text-decoration: none;
}

.centerdiv {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 45%;
  margin: -100px 0 0 -150px;
}