<head>
    <meta charset="UTF-8">
    <title>Простая гостевуха на pyramid</title>
    <meta name="keywords" content="Гостевая книга, гостевуха, чат, с открытым кодом, веб сервиc, WSGI, pyramid, python">
    <meta name="description" content="Гостевая книга с простой регистрацией и открытым исходным кодом. Написана с использованием фреймворка pyramid.">
    <meta name="author" content="Herman Yanush">
</head>